.profile_pic>img {
    width: 70px;
    height: 70px;
    border-radius: 200px;
    object-fit: cover;
}

.attendance-btn {
    background-color: rgb(62, 126, 255);
    color: white;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
}

.attendance-btn:hover {
    background-color: rgb(32, 106, 255);
}

.details {
    position: fixed;
    z-index: 1000;
    max-width: 700px;
    height: 500px;
    overflow: scroll;
    width: 90%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table-details {
    border-spacing: 0px;

}

.details-tr-heading {
    background-color: rgb(62, 126, 255);
    position: sticky;
    top: 0;
}

.details-date {
    width: 150px;
}

.close-btn {
    z-index: 1000000;
    position: sticky;
    left: 100%;
    bottom: 00px;
    background-color: rgb(62, 126, 255);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}



/* Responsive Styles */


@media only screen and (max-width: 700px) {
    .profile_pic>img {
        width: 30px;
        height: 30px;
        border-radius: 200px;
        object-fit: cover;
    }

    .profile_pic::before {
        content: "Profile Picture";
        position: absolute;
        top: 15px;
        left: 30px;

    }

    .profile_pic, .employee-id {
        padding-left: 250px;
    }


    .employee-id::before {
        content: "Id";
        position: absolute;
        top: 17px;
        left: 30px;
    }

    .employee-id {
        padding-left: 259px;
    }

    .employee-name::before {
        content: "Name";
        position: absolute;
        top: 17px;
        left: 30px;
    }

    .employee-name {
        padding-left: 259px;
    }

    .employee-position::before {
        content: "Position";
        position: absolute;
        top: 17px;
        left: 30px;
    }

    .employee-position {
        padding-left: 259px;
    }

    .employee-attendance::before {
        content: "Attendance";
        position: absolute;
        top: 17px;
        left: 30px;
    }

    .employee-attendance {
        padding-left: 259px;
    }
  }